@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap');

.fontPoppins {
    font-family: 'Poppins', sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(135deg, #ff7e5f, #feb47b); /* Color actualizado */
    color: white;
    padding: 2rem;
    box-sizing: border-box;
    overflow: hidden; /* Asegura que no haya scroll dentro del contenedor */
}

.card {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 15px;
    padding: 2rem 3rem;
    width: 100%;
    max-width: 450px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(20px);
    text-align: center;
    transition: all 0.3s ease-in-out;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.3);
}

.title {
    font-size: 2.5rem;
    font-weight: 500;
    margin-bottom: 1.5rem;
    color: white;
}

.links {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.link {
    font-size: 1.2rem;
    font-weight: 500;
    color: white;
    text-decoration: none;
    padding: 1rem 2.5rem;
    border-radius: 30px;
    background: linear-gradient(45deg, #ff7e5f, #feb47b); /* Color actualizado */
    transition: all 0.3s ease-in-out;
    text-align: center;
}

.link:hover {
    background: linear-gradient(45deg, #e64a19, #f57c00);
    transform: scale(1.1);
}

.icon {
    margin-right: 1rem;
    font-size: 1.5rem;
}

@media (max-width: 768px) {
    .card {
        padding: 1.5rem 2rem;
        max-width: 350px;
    }
    
    .title {
        font-size: 2rem;
    }

    .link {
        font-size: 1rem;
    }
}



